
<div id="post-content">
 <h2><perch:blog id="postTitle" /></h2>
  <h4><perch:blog id="excerpt" type="textarea" label="Excerpt" editor="ckeditor" html="true" suppress="true" /></h4>
   
  <h4><perch:blog id="postDescHTML" editor="ckeditor" html="true"/></h4>


</div>

<div class="ss-row">
	<div class="ss-large">
        <div class="ss-left">
            <img title="<perch:blog id="category_slugs" />" src="../images/<perch:blog id="category_slugs" />.png" />
        </div>
        <div class="by">
          <h6><p class="entry-published date">Posted by <perch:blog id="authorGivenName" /> <perch:blog id="authorFamilyName" /></h6>
            <h6>on the <perch:blog id="postDateTime" format="%d %B %Y" /></p></h6>
            
 </div>
</div>

    </div> <!-- .ss-row -->


