
        
<div class="ss-row">
	<div class="ss-large">
        <div class="ss-left">
            <img title="<perch:blog id="category_slugs" />" src="images/<perch:blog id="category_slugs" />.png" />
        </div>
        <div class="ss-right">
            <h2><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a></h2>
        

            <h4> <perch:blog id="excerpt" type="textarea" textile="true" /></h4>
           
            <h6><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title">Read full post&hellip;</a></h6>
            <h6><p class="entry-published date">Posted by <perch:blog id="authorGivenName" /> <perch:blog id="authorFamilyName" /> on the <perch:blog id="postDateTime" format="%d %B %Y" /></p></h6>
            
 </div>
</div>

    </div> <!-- .ss-row -->





